<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Keyword Profiler &middot; Prototyping</title>
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main message and search button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Default cell styling */
      .cell {
        vertical-align:top;
        margin: 0.2%;
      }

    </style>

    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>
    <div class="container-narrow">
      
      <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Learn how to make this!</a></li>
          </ul>
          <h3 class="muted">Twitter Keyword Profiler</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Search results for <span class="text-success"><%=keyword.capitalize%><span></h1>
        <p class="lead muted">Number of results: <%= results.count %></p>
      </div>

      <div id="visualisation"></div>

      <hr>

      <div class="footer">
        <!-- <p>&copy; Jack Harrison 2012</p> -->
        <p>PDE Prototyping, Ordnance Survey</p>
      </div>

      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script type="text/javascript">
        var results = <%=results%>;
        var data = [];
        for (var i = 0; i < results.length; i++) {
          data.push(results[i][0]);
        }

        var cellSize = $("div#visualisation").width() / 11.3;
        var cells = []

        var minX = -8;
        var minY = 49;
        var nRows = 11;
        var nCells = 143;

        for (var i = 0; i < nCells; i++) {
          cells.push([]);
        }

        for (var i = 0; i < data.length; i++) {
          var x = Math.floor(data[i][1]);
          var y = Math.floor(data[i][0]);

          normX = x - minX;
          normY = y - minY;

          var gridPosition = nCells - ((normY + 1) * nRows - normX);
          cells[gridPosition].push([i]);
        }

        var cellMax = 0;

        for (var i = 0; i < cells.length; i++) {
          cellCount = cells[i].length;
          if (cellCount > cellMax) cellMax = cellCount;
        }

        console.log(cellMax);

        var color = d3.scale.linear()
            .domain([0, cellMax])
            .range([240, 0])
            .clamp(true);

        var svg = d3.select("div#visualisation").selectAll("svg")
            .data(cells)
            .enter()
              .append("svg")
              .attr("width", cellSize)
              .attr("height", cellSize)
              .attr("class", "cell")
              .style("background-color", function(d) {
                var level = color(d.length);
                return "rgb(" + level + ", " + level + ", " + level + ")";
              });
      </script>
      <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>