<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Keyword Profiler &middot; Prototyping</title>
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        text-rendering: optimizeLegibility;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main message and search button */
      .jumbotron {
        margin: 1em 0 0 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 3em;
        line-height: 1;
      }
      .jumbotron p {
        font-size: 1.2em;
        margin: 0;
      }
      .jumbotron .text-success {
        color: hsl(200,57%,40%);
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Default svg styling */
      svg {
        margin: 0 auto 30px auto;
        display: block;
        stroke-width: 1px;
        fill: hsl(200,57%,90%);
      }

      .footer p {
        text-align: center;
      }

    </style>

    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>
    <div class="container-narrow">
      
      <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Back to Search</a></li>
            <li class="active"><a href="#">Learn how to make this!</a></li>
          </ul>
          <h3 class="muted">Twitter Keyword Profiler</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Search results for <span class="text-success"><%=keyword.capitalize%><span></h1>
        <p class="lead muted">Number of results: <%= results.count %></p>
      </div>

      <div id="viz"></div>

      <hr>

      <div class="footer">
        <!-- <p>&copy; Jack Harrison 2012</p> -->
        <p>PDE Prototyping, Ordnance Survey</p>
      </div>

      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://d3js.org/topojson.v0.min.js"></script>
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script type="text/javascript">

        var glConst = {
          41442 : 0,
          41443 : 0,
          41444 : 0,
          41445 : 0,
          41446 : 0,
          41447 : 0,
          41448 : 0,
          41449 : 0,
          41450 : 0,
          41451 : 0,
          41452 : 0,
          41453 : 0,
          41454 : 0,
          41455 : 0
        }

        <% results.each do |result| %>
        glConst[<%=result['gl_const']%>] += 1;
        <% end %>

        var glMax = 0;
        for (var i = 41442; i <= 41455; i++) {
          if (glConst[i] > glMax) glMax = glConst[i];
        }

        function remap(value, oldMin, oldMax, newMin, newMax) {
          var newValue = (((value - oldMin) * (newMax - newMin)) / (oldMax - oldMin)) + newMin;
          return newValue;
        };

        for (var i = 41442; i <= 41455; i++) {
          glConst[i] = Math.round(remap(glConst[i], 0, glMax, 90, 50));
        }

        var width = 800,
            height = 450;

        var svg = d3.select("#viz").append("svg")
            .attr("width", width)
            .attr("height", height);

        d3.json("geo/topo.json", function(error, london) {          
          var projection = d3.geo.albers()
            .center([0.16, 51.5])
            .rotate([0.2, 0])
            .parallels([51.3, 51.7])
            .scale(60000)
            .translate([width/2, height/2]);
          
          var path = d3.geo.path()
            .projection(projection);

          svg.selectAll(".const")
            .data(topojson.object(london, london.objects.ldn).geometries)
            .enter().append("path")
              .attr("class", function(d) { return "const" + " " + d.id; })
              .attr("fill", function(d) { return "hsl(200,50%," +  glConst[d.id] + "%)"})
              .attr("stroke", function(d) { return "hsl(200,50%," +  glConst[d.id] + "%)"})
              .attr("d", path)
              .on("mouseover", hover);

          function hover(d) {
            console.log(d.id);
          }
          });

      </script>
      <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>